<%= form_for @companies do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </p>
  <p>
    <%= f.label :serial_num %><br />
    <%= f.number_field :serial_num %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p><%= image_tag @companies.image("adresse") %></p>
  <p>
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </p>
  <p><%= image_tag @companies.image("tel") %></p>
  <p><%= f.submit "Update company" %></p>
<% end %>
