<% title "QENR Database" %>

<div id="search">
  <%= form_tag companies_path, :method => 'csv' do %>
    <p>
      <%= select_tag(:per_page, options_for_select(%w[ 2 5 10 25 50 100 500 1000], :selected => @per_page.to_i)) %>
      <%= submit_tag "Companies per page", :name => nil %>
    </p>
  <% end %>
    <p> | </p>
  <%= form_tag companies_path(:csv), :method => 'get' do %>
    <p>
      <%= submit_tag "Download CSV", :name => nil %>
    </p>
  <% end %>
</div>

<%= will_paginate @companies %>

<br/>

<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Postal Code</th>
    <th>Address</th>
    <th>Address img</th>
    <th>Tel img</th>
    <th>Telephone</th>
  </tr>
  <% count = 0 %>
  <% for companies in @companies %>
    <tr>
      <td class="counter"><%= "#{count += 1}." %></td>
      <td><%= link_to companies.name, edit_company_path(companies) %></td>
      <td><%= companies.postal_code[0..5] %></td>
      <td><%= companies.address %></td>
      <td><%= image_tag "#{companies.image_dir_path + companies.image_name("adresse")}", :class => "img_tel" %></td>
      <td><%= image_tag "#{companies.image_dir_path + companies.image_name("tel")}", :class => "img_tel" %></td>
      <td class="td_tel"><%= companies.telephone %></td>
    </tr>
  <% end %>
</table>

<br/>
<%= will_paginate @companies %>
